#field-spotter-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3px 5px;
  background: #fff;
  color: #008;
  cursor: pointer;
  z-index: 10002;
}
.field-spotter .field-tip {
  position: absolute;
  padding: 3px 5px;
}
.field-spotter .field-label {
  background: #000;
  z-index: 10001;
  color: #fff;
}
